@import "../../styles/variables.scss";

.Input {
  &-wrapper {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    input {
      flex-grow: 1;
      color: $input-text-active;
      border: none;
      font-size: 18px;
      background-color: #181818;
      vertical-align: middle;
      padding: 10px;
      border-radius: 2px;
      &::placeholder {
        color: $input-text-inactive;
      }
      &:disabled {
        background-color: #181818;
      }
      &:focus{
        border: 1px solid $primary;
        background-color: $cellBGSettings;
        border-color: rgba(228, 228, 228, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 255, 237, 0.6);
        outline: 0 none;
      }
    }
  }
}
