@import "../../styles/variables.scss";

.Input {
  &-wrapper {
    display: flex;
    justify-content: center;
    border: 1px $text solid;
    margin: 10px;
    input {
      flex-grow: 1;
      color: $input-text-active;
      font-size: 1.8rem;
      line-height: 2.4rem;
      vertical-align: middle;
      &::placeholder {
        color: $input-text-inactive;
      }
    }
  }
}
