@import '../../../squares-core/styles/variables.scss';

.step-container {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;

  .step {
    position: relative;
    box-sizing: border-box;
    color: $text;
    padding: 16px;
  }

  .divider {
    height: 3px;
    background: $text;
    width: 100%;
    height: 2px;
    align-self: center;
  }
}
